<%= form_for @contact_request, { url: contact_request_path(@contact_request.secret) } do |f| %>
    <div class="form_area">
        <div class="form_fields">
            <div class="form_field form_field_required u-large-label u-gradient-bg form_field-checkbox">
                <div class="form_field_label"><%= t '.recipients' %>:</div>
                <label>
                    <%= check_box_tag "recipients[]", :admin_contacts, false, id: 'admin_contacts', :class => "form_field_checkbox" %>
                    <span class="form_control_indicator"></span>
                    <span><%= t('.admin_contacts') %></span>
                </label>
                <label>
                    <%= check_box_tag "recipients[]", :tech_contacts, false, id: 'tech_contacts', :class => "form_field_checkbox" %>
                    <span class="form_control_indicator"></span>
                    <span><%= t('.tech_contacts') %></span>
                </label>
            </div>
            <div class="form_field form_field_required">
                <%= label_tag :email_body, t('.message') + ':', for: :email_body, :class => "form_field_label" %>
                <%= text_area_tag :email_body, '',
                                  class: 'message-field form_field_textarea form_field_size_large',
                                  required: true,
                                  autofocus: true %>
            </div>
        </div>
        <div class="form_submit">
            <%= submit_tag t('.send_btn') %>
        </div>
    </div>
<% end %>