<h1><%= t 'contact_requests.contact_form' %></h1>
<%- instructions = t('contact_requests.contact_email_recipients_instructions').split(/\n/) -%>
<%- instructions.each do |instruction_line| %>
    <p><%= instruction_line %></p>
<% end %>

<%= form_for @contact_request, { url: contact_request_path(@contact_request.secret) } do |f| %>
    <fieldset>
        <%- contacts = [:admin_contacts, :tech_contacts] -%>
        <%- contacts.each do |contact| %>
            <%= check_box_tag "recipients[]", contact, false, id: nil %>
            <%= label_tag contact, t(contact), for: nil %>
            <br>
        <% end %>
    </fieldset>

    <br><br>
    <fieldset>
        <%= label_tag :email_body, t('.message'), for: :email_body %><br>
        <%= text_area_tag :email_body, "", size: "130x14", autofocus: true %>
    </fieldset><br>
    <%= submit_tag t('.send_btn') %>
<% end %>

<p><%= t 'contact_requests.gdpr_disclaimer_html' %></p>
