<h1><%= t '.header' %></h1>

<div>
    <p><%= t '.help' %>
    <p><%= t '.link_expiration' %>
</div>

<div class="form">
    <%= render 'link_request_form' %>
</div>

<p><%= t 'contact_requests.gdpr_disclaimer_html' %></p>
