<section class="domain">
    <h2><%= t '.header' %></h2>
    <dl>
        <dt><%= Domain.human_attribute_name :name %></dt>
        <dd><%= domain.name %></dd>

        <%= render 'whois_records/show/statuses', statuses: domain.statuses %>
        <% if domain.active? %>
            <dt><%= Domain.human_attribute_name :registered %></dt>
            <dd><%= l domain.registered, default: nil %></dd>

            <dt><%= Domain.human_attribute_name :changed %></dt>
            <dd><%= l domain.changed, default: nil %></dd>

            <dt><%= Domain.human_attribute_name :expire %></dt>
            <dd><%= l domain.expire, default: nil %></dd>

            <dt><%= Domain.human_attribute_name :outzone %></dt>
            <dd><%= l domain.outzone, default: nil %></dd>

            <dt><%= Domain.human_attribute_name :delete %></dt>
            <dd><%= l domain.delete, default: nil %></dd>
        <% else %>
          <% if domain.registration_deadline.present? %>
            <dt><%= Domain.human_attribute_name :registration_deadline %></dt>
            <dd><%= l domain.registration_deadline.to_datetime, default: nil %></dd>
          <% end %>
        <% end %>
    </dl>
</section>
