<h1><%= t '.header' %></h1>

<p><%= @whois_record.disclaimer %></p>

<%= render 'whois_records/show/domain', domain: @whois_record.domain %>

<% if @whois_record.domain.registered? %>
    <%= render 'whois_records/show/registrant',
               registrant: RegistrantPresenter.new(@whois_record.registrant, self, @whois_record) %>

    <%= render partial: 'whois_records/show/contacts',
               layout: 'whois_records/show/admin_contacts',
               locals: { contacts: @whois_record.admin_contacts,
                         whois_record: @whois_record } %>

    <%= render partial: 'whois_records/show/contacts',
               layout: 'whois_records/show/tech_contacts',
               locals: { contacts: @whois_record.tech_contacts,
                         whois_record: @whois_record } %>

    <%= render 'whois_records/show/registrar', registrar: @whois_record.registrar %>
    <%= render 'whois_records/show/nameservers' %>
    <%= render 'whois_records/show/dnssec_keys' %>
<% end %>

<p>More information at http://internet.ee</p>

<% if !@show_sensitive_data %>
    <section class="captcha">
        <%= render 'whois_records/show/captcha' %>
    </section>
<% end %>

<% if @show_sensitive_data && @whois_record.contactable? %>
    <p>
        <%= link_to t('.contact_owner_btn'),
                    new_contact_request_path({ domain_name: @whois_record.name }) %>
    </p>
<% end %>
