<!DOCTYPE html>
<html lang="<%= locale %>">
    <head>
        <meta charset="utf-8">
        <%= stylesheet_link_tag 'application' %>
        <title>REST WHOIS for .ee domains</title>
    </head>
    <body class="<%= body_css_class %>">
        <div class="grid-container">
            <div class="header">
                <%- other_locales.each do |locale| %>
                    <%= link_to locale, params.merge!({ locale: locale }) %>
                <% end %>
            </div>
            <div class="main">
                <%= render 'shared/flash' %>
                <%= yield %>
            </div>
            <div class="right"></div>
        </div>
    </body>
</html>
