<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <%= stylesheet_link_tag 'application' %>

        <title>
            REST WHOIS for .ee domains
        </title>
    </head>
    <body>
        <div class='grid-container'>
            <div class='header'>
                <%- other_locales.each do |locale| %>
                    <%= link_to locale, params.merge!({ locale: locale }) %>
                <% end %>
            </div>
            <div class='main'>
                <%= render 'shared/flash' %>
                <%= yield %>
            </div>
            <div class='right'>
            </div>
        </div>
    </body>
</html>
