<!DOCTYPE html>
<html lang="<%= locale %>">
<head>
    <meta charset="utf-8">
    <title>REST WHOIS for .ee domains</title>
    <%= stylesheet_link_tag 'application' %>
</head>
<body class="<%= body_css_class %>">
    <div class="grid-container">
        <div class="header">
            <div class="locale-switch">
                <% available_locales.each do |available_locale| %>
                    <%= link_to_if available_locale != locale,
                                   available_locale.upcase,
                                   url_for(params.permit!.merge(locale: available_locale)) %>
                <% end %>
            </div>
        </div>
        <div class="main">
            <%= render 'flash_messages' %>
            <%= yield %>
        </div>
        <div class="right"></div>
    </div>
</body>
</html>
